.bg-primary {
  background: #034494;
  background: linear-gradient(#034494, #023472);
}

#mainNav .navbar-nav > li > a {
  font-size: 13px;
  font-family: "Lato","Helvetica","Arial","sans-serif";
  letter-spacing: 2px;
  text-transform: uppercase;
}

.navbar-shrink {
  box-shadow: 0px 3px rgb(0 0 0 / 5%);
}

#mainNav .navbar-nav > li > a.active {
  color: #ed1b24 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li > a:hover, #mainNav .navbar-nav > li > a:focus:hover {
  color: #ed1b24;
}

@media (min-width: 992px) {
  #mainNav.navbar-shrink .navbar-nav > li > a:hover, #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
    color: #ed1b24;
  }
}

.btn-principal:hover {
  background-color: #034494;
  border-color: #034494;
}

footer {
  background-color: #034494;
}

footer p {
  font-size: 14px;
}

/* Link Dev Rodapé */

.dev__link,
.dev__dir,
.dev__arco {
  color: var(--secondary-text);
  text-decoration: none;
}


.dev__link .dev__arco:hover {
  color: #f9a13f;
}

.dev__link .dev__arco:hover .dev__logo svg{
    filter: brightness(1);
}

.dev__link .dev__logo svg {
  filter: brightness(100);
  width: 30px;
  height: 30px;
  margin-left: 5px;
}

.dev__link .dev__logo:hover svg {
  filter: brightness(1);
}

.dev__link .dev__logo:hover .dev__arco {
  color: #f9a13f;
}

/* FIm Link Dev */